<div class="row">
  <div class="col-12 col-lg-6">
      <div class="kt-portlet kt-portlet--tab">
          <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                  <span class="kt-portlet__head-icon kt-hide">
                      <i class="la la-gear"></i>
                  </span>
                  <h3 class="kt-portlet__head-title">
                    Scan QR Code
                  </h3>
              </div>
          </div>
          <div class="kt-portlet__body">
              <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="onCodeResult($event)">
              </zxing-scanner>
              <div *ngIf="!scannerEnabled">Scan Success :Request  to {{personName}} -{{apiResponse}} </div>
              <button  *ngIf="!scannerEnabled"(click)="enableScanner()">Scan Another QR Code</button>

          </div>
      </div>
  </div>



</div>